
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  background: url("../images/background1.jpg") no-repeat center center fixed;
  background-size: cover;
  animation: moveBackground 15s linear infinite;
  margin-left: 5%;
  margin-right: 5%;
}

@keyframes moveBackground {
  0% {
      background-position: bottom top;
  }
  50% {
      background-position: top center;
  }
  100% {
      background-position: bottom center;
  }
}




.logo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  margin-left: 45%;
}

.info-container {
  display: flex;
  align-items: center;
}

.logo1 {
  width: 40px;
  height: 40px;
  border-radius: 0%;
  margin-right: 10px;
}

.info-container h1 {
  margin: 0;
  font-size: 1.5em;
}
.product-details-content {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 80px;
  padding-bottom: 2px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

  overflow: hidden;
  background: url("https://doc-08-2c-docs.googleusercontent.com/docs/securesc/68c90smiglihng9534mvqmq1946dmis5/fo0picsp1nhiucmc0l25s29respgpr4j/1631524275000/03522360960922298374/03522360960922298374/1Sx0jhdpEpnNIydS4rnN4kHSJtU1EyWka?e=view&authuser=0&nonce=gcrocepgbb17m&user=03522360960922298374&hash=tfhgbs86ka6divo3llbvp93mg4csvb38")
    no-repeat center/ cover;
    
  border-radius: 15px;
  box-shadow: 2px 20px 50px #69a957;
  margin-top: 20px;
  margin-left: 100px;
  margin-right: 100px;
  height: 550px;


}




button {
  background-color: #4CAF50;
  color: white;
  padding: 15px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
  width: 200px;
  position: absolute;
  left: 50%;
  transform: translateX(100%);
  transform: translateY(170%);

  bottom: 0px;
  left : 43%;
}


button:hover {
  background-color: #45a049;
}

button:focus {
  outline: none;
  background-color: #3e8e41;
}

